.row{
	width: 60%;
	height: 10%;
	padding-top: 5%;
	padding-left: 0%;
	padding-right: 0%;
	margin: 4px, auto;
	} 

#calcular{
	display: inline-block;
	float: right;
}

#cantidad{
	height: 10%;
}

h3, h5{
	text-align: center;
}

img{
	height: 100px;
	width: 150px;
}

.imagen{
	height: 10%;
}